In [ ]:
#pandas
import pandas as pd
a=["ram",'raj','mrudula','rishi','yamini','ishu','parvathi']
r=pd.Series(a,index=[1,2,3,4,5,6,7])
print(r)

df=pd.read_csv("/content/pythontextfile1.txt",sep=" ")
print(df)

df=pd.read_csv("/content/pythontextfile1.txt",sep=" ")
print(df)

df1=pd.read_csv("/content/Player.csv")
print(df1)

df1.head()
df1.tail()

df1.shape
d1_lastlines=df1.tail(10)
d1_lastlines=df1.to_csv("manualtesting")

1         ram
2         raj
3     mrudula
4       rishi
5      yamini
6        ishu
7    parvathi
dtype: object
   1  2  3  4  5  6  7  8
0  1  2  3  4  5  6  7  8
   1  2  3  4  5  6  7  8
0  1  2  3  4  5  6  7  8
     Player_Id      Player_Name        DOB Batting_Hand       Bowling_Skill  \
0            1       SC Ganguly   8-Jul-72    Left_Hand    Right-arm medium
1            2      BB McCullum  27-Sep-81   Right_Hand    Right-arm medium
2            3       RT Ponting  19-Dec-74   Right_Hand    Right-arm medium
3            4        DJ Hussey  15-Jul-77   Right_Hand  Right-arm offbreak
4            5  Mohammad Hafeez  17-Oct-80   Right_Hand  Right-arm offbreak
..         ...              ...        ...          ...                 ...
518        519      Subroto Das        NaN          NaN                 NaN
519        520     K Srinivasan        NaN          NaN                 NaN
520        521        VK Sharma        NaN          NaN                 NaN
521        523      AV Wankhade  14-Mar-92   Right_Hand                 NaN
522        524      B Aparajith   8-Jul-94   Right_Hand  Right-arm offbreak

         Country  Is_Umpire  Unnamed: 7
0          India          0         NaN
1    New Zealand          0         NaN
2      Australia          0         NaN
3      Australia          0         NaN
4       Pakistan          0         NaN
..           ...        ...         ...
518        India          1         NaN
519        India          1         NaN
520        India          1         NaN
521        India          0         NaN
522        India          0         NaN

[523 rows x 8 columns]

In [ ]:
df1=pd.read_csv("/content/Player.csv")
d1_lastlines=df1.tail(10)
d1_firstlines=df1.head(10)
data_manualtesting=pd.concat([d1_lastlines,d1_firstlines],axis=0)
data_manualtesting.to_csv("cancatinated_manualtesting")
rr=pd.read_csv("/content/cancatinated_manualtesting")
print(rr)
print(rr.groupby(['Player_Name'])['DOB'].count())

    Unnamed: 0  Player_Id      Player_Name        DOB Batting_Hand  \
0          513        514        I Shivram        NaN          NaN
1          514        515        SD Ranade        NaN          NaN
2          515        516   TH Wijewardene        NaN          NaN
3          516        517          AL Hill        NaN          NaN
4          517        518        RJ Tucker        NaN          NaN
5          518        519      Subroto Das        NaN          NaN
6          519        520     K Srinivasan        NaN          NaN
7          520        521        VK Sharma        NaN          NaN
8          521        523      AV Wankhade  14-Mar-92   Right_Hand
9          522        524      B Aparajith   8-Jul-94   Right_Hand
10           0          1       SC Ganguly   8-Jul-72    Left_Hand
11           1          2      BB McCullum  27-Sep-81   Right_Hand
12           2          3       RT Ponting  19-Dec-74   Right_Hand
13           3          4        DJ Hussey  15-Jul-77   Right_Hand
14           4          5  Mohammad Hafeez  17-Oct-80   Right_Hand
15           5          6         R Dravid  11-Jan-73   Right_Hand
16           6          7         W Jaffer  16-Feb-78   Right_Hand
17           7          8          V Kohli   5-Nov-88   Right_Hand
18           8          9        JH Kallis  16-Oct-75   Right_Hand
19           9         10         CL White  18-Aug-83   Right_Hand

            Bowling_Skill       Country  Is_Umpire  Unnamed: 7
0                     NaN         India          1         NaN
1                     NaN         India          1         NaN
2                     NaN     Sri Lanka          1         NaN
3                     NaN   New Zealand          1         NaN
4                     NaN     Australia          1         NaN
5                     NaN         India          1         NaN
6                     NaN         India          1         NaN
7                     NaN         India          1         NaN
8                     NaN         India          0         NaN
9      Right-arm offbreak         India          0         NaN
10       Right-arm medium         India          0         NaN
11       Right-arm medium   New Zealand          0         NaN
12       Right-arm medium     Australia          0         NaN
13     Right-arm offbreak     Australia          0         NaN
14     Right-arm offbreak      Pakistan          0         NaN
15     Right-arm offbreak         India          0         NaN
16     Right-arm offbreak         India          0         NaN
17       Right-arm medium         India          0         NaN
18  Right-arm fast-medium  South Africa          0         NaN
19        Legbreak googly     Australia          0         NaN
Player_Name
AL Hill            0
AV Wankhade        1
B Aparajith        1
BB McCullum        1
CL White           1
DJ Hussey          1
I Shivram          0
JH Kallis          1
K Srinivasan       0
Mohammad Hafeez    1
R Dravid           1
RJ Tucker          0
RT Ponting         1
SC Ganguly         1
SD Ranade          0
Subroto Das        0
TH Wijewardene     0
V Kohli            1
VK Sharma          0
W Jaffer           1
Name: DOB, dtype: int64

In [ ]:
df1=pd.read_csv("/content/Player.csv")
print(df1)
df1.shape
df1["class"]=1

     Player_Id      Player_Name        DOB Batting_Hand       Bowling_Skill  \
0            1       SC Ganguly   8-Jul-72    Left_Hand    Right-arm medium
1            2      BB McCullum  27-Sep-81   Right_Hand    Right-arm medium
2            3       RT Ponting  19-Dec-74   Right_Hand    Right-arm medium
3            4        DJ Hussey  15-Jul-77   Right_Hand  Right-arm offbreak
4            5  Mohammad Hafeez  17-Oct-80   Right_Hand  Right-arm offbreak
..         ...              ...        ...          ...                 ...
518        519      Subroto Das        NaN          NaN                 NaN
519        520     K Srinivasan        NaN          NaN                 NaN
520        521        VK Sharma        NaN          NaN                 NaN
521        523      AV Wankhade  14-Mar-92   Right_Hand                 NaN
522        524      B Aparajith   8-Jul-94   Right_Hand  Right-arm offbreak

         Country  Is_Umpire  Unnamed: 7
0          India          0         NaN
1    New Zealand          0         NaN
2      Australia          0         NaN
3      Australia          0         NaN
4       Pakistan          0         NaN
..           ...        ...         ...
518        India          1         NaN
519        India          1         NaN
520        India          1         NaN
521        India          0         NaN
522        India          0         NaN

[523 rows x 8 columns]

In [ ]:

import pandas as pd
df=pd.read_excel("/content/newxlsheet.xlsx")
print(df)

print(df.loc[1])

mv=df['rollnumber'].mean()
df=df.fillna(mv)
print(df)

df=df.drop_duplicates()
print(df)

   sno      name  rollnumber
0    1   mrudula          65
1    2  rushitha          64
2    3    yamini          63
3    4  ishwarya          62
4    5  parvathi          66
sno                  2
name          rushitha
rollnumber          64
Name: 1, dtype: object
   sno      name  rollnumber
0    1   mrudula          65
1    2  rushitha          64
2    3    yamini          63
3    4  ishwarya          62
4    5  parvathi          66
   sno      name  rollnumber
0    1   mrudula          65
1    2  rushitha          64
2    3    yamini          63
3    4  ishwarya          62
4    5  parvathi          66